Repository hmcts/sptribs-dss-update-case-web, pull requests merged in 2024-02, with the labels that each got.

#15 DTSSTCI-351
  src/main/steps/dss-update/start/content.test.ts
  src/main/steps/dss-update/start/content.ts
  src/main/steps/dss-update/start/template.njk
Labels: ns:sptribs, prd:sptribs, rel:sptribs-dss-update-case-web-pr-15, no-changes, enable_keep_helm

#24 DTSSTCI-352
  src/main/app/controller/GetController.ts
  src/main/steps/dss-update/casefinder/content.test.ts
  src/main/steps/dss-update/casefinder/content.ts
  src/main/steps/dss-update/casefinder/postController.ts
  yarn-audit-known-issues
Labels: ns:sptribs, prd:sptribs, no-changes, enable_keep_helm, rel:sptribs-dss-update-case-web-pr-24

#28 DTSSTCI-414
  src/main/app/auth/oidc.ts
  src/main/app/case/api.ts
  src/main/app/case/case.ts
  src/main/app/controller/AppRequest.ts
  src/main/app/controller/GetController.test.ts
  src/main/app/controller/GetController.ts
  src/main/app/form/validation.ts
  src/main/modules/nunjucks/index.ts
  src/main/modules/session/index.ts
  src/main/server.ts
  src/main/steps/dss-update/casefinder/postController.test.ts
  src/main/steps/dss-update/casefinder/postController.ts
  src/main/steps/dss-update/check-your-answers/postController.ts
  src/main/steps/dss-update/check-your-answers/template.njk
  src/main/steps/dss-update/citizen-data-verification/content.test.ts
  src/main/steps/dss-update/citizen-data-verification/content.ts
  src/main/steps/dss-update/citizen-data-verification/postController.test.ts
  src/main/steps/dss-update/citizen-data-verification/postController.ts
  src/main/steps/dss-update/citizen-data-verification/template.njk
  src/main/steps/upload-documents/getController.ts
  src/main/steps/upload-documents/postController.test.ts
Labels: ns:sptribs, prd:sptribs, rel:sptribs-dss-update-case-web-pr-28

#42 DTSSTCI-452
  package.json
  yarn.lock
Labels: ns:sptribs, prd:sptribs, rel:sptribs-dss-update-case-web-pr-42

#48 DTSSTCI-469
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  config/custom-environment-variables.yaml
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-dss-update-case-web-pr-48

#40 DTSSTCI-352-v2
  src/main/steps/dss-update/casefinder/content.test.ts
  src/main/steps/dss-update/casefinder/content.ts
  src/main/steps/dss-update/casefinder/postController.test.ts
  src/main/steps/dss-update/casefinder/postController.ts
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-dss-update-case-web-pr-40

#55 DTSSTCI-414
  src/main/steps/dss-update/citizen-data-verification/postController.test.ts
  src/main/steps/dss-update/citizen-data-verification/postController.ts
  yarn-audit-known-issues
Labels: ns:sptribs, prd:sptribs, rel:sptribs-dss-update-case-web-pr-55

#41 DTSSTCI-266
  src/main/app/form/validation.ts
  src/main/steps/common/form/fields/date.njk
  src/main/steps/dss-update/subject-details/content.test.ts
  src/main/steps/dss-update/subject-details/content.ts
  src/main/steps/dss-update/subject-details/postController.test.ts
  src/main/steps/dss-update/subject-details/postController.ts
  src/main/steps/urls.ts
Labels: ns:sptribs, prd:sptribs, no-changes, enable_keep_helm, rel:sptribs-dss-update-case-web-pr-41

#71 Suppress CVE-2023-42282
  yarn-audit-known-issues
Labels: ns:sptribs, prd:sptribs, rel:sptribs-dss-update-case-web-pr-71

#73 DTSSTCI-478
  charts/sptribs-dss-update-case-web/values.preview.template.yaml
  src/main/api/endpoints.ts
  src/main/app/auth/oidc.test.ts
  src/main/app/auth/oidc.ts
  src/main/app/case/case.ts
  src/main/app/case/definition.ts
  src/main/modules/health/index.ts
  src/main/modules/nunjucks/index.ts
  src/main/modules/oidc/index.ts
  src/main/modules/properties-volume/index.ts
  src/main/routes.ts
  src/main/routes/authless/landing/content.json
  src/main/routes/authless/landing/get.test.ts
  src/main/routes/authless/landing/get.ts
  src/main/routes/authless/landing/landing.njk
  src/main/routes/authless/routes.ts
  src/main/server.ts
  src/main/steps/dss-update/casefinder/postController.ts
  src/main/steps/dss-update/casefinder/template.njk
  src/main/steps/dss-update/dss-sequence.test.ts
  src/main/steps/dss-update/dss-sequence.ts
  src/main/steps/dss-update/start/content.test.ts
  src/main/steps/dss-update/start/content.ts
  src/main/steps/dss-update/start/template.njk
  src/main/steps/home/get.test.ts
  src/main/steps/home/get.ts
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-dss-update-case-web-pr-73

#84 DTSSTCI-337
  src/main/steps/cookie-banner/template.njk
Labels: ns:sptribs, prd:sptribs, enable_keep_helm, rel:sptribs-dss-update-case-web-pr-84
